// Initialize
@import 'init';
// Local
@import 'loading';
@import 'login';

.history {
  color: $text-muted;
}

.text-up {
  color: green;
}

.text-down {
  color: orange;
}

.text-down-old {
  color: red;
}

.ips > .ip:hover {
  background-color: #FFFFA8;
}

.header {
  font-weight: bold;
}

.striped:nth-child(odd) {
  background-color: #f5f5f5;
}